* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: #d4d4dc;
  text-align: center;
}
body {
  background: #393f4d;
}
/* a {
  text-decoration: none;
} */
h1,
h2 {
  color: #feda6a;
}
.tech {
  color: #feda6a;
}
.project-image {
  border: 1px solid #393f4d;
  width: 100%;
  max-height: 500px;
  max-width: 500px;
  box-shadow: 0 0 20px #feda6a;
}


.formLinks{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.formLinks input{
  color: #1d1e22;
  margin-right: 5px;
	-moz-box-shadow: 0px 1px 0px 0px #feda6a;
	-webkit-box-shadow: 0px 1px 0px 0px #feda6a;
	box-shadow: 0px 1px 0px 0px #feda6a;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #feda6a), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #feda6a 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #feda6a 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #feda6a 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #feda6a 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #feda6a 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#feda6a', endColorstr='#ffab23',GradientType=0);
	background-color:#feda6a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.formLinks input:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.formLinks input:active {
	position:relative;
	top:1px;
}
input{
  display: block;
}

#projects{
  text-align: center;
}

.separator{
  display: inline-block;
}

@media screen and (min-width: 320px) {
	body {
		font-size: 1.0em;
		padding-left: 1.0em;
		padding-right: 1.0em;
	}
}

@media screen and (min-width: 500px) {
	body {
		font-size: 1.1em;
		padding-left: 1.5em;
		padding-right: 1.5em;
	}
}

@media screen and (min-width: 768px) {
	body {
		font-size: 1.4em;
		padding-left: 3em;
		padding-right: 3em;
	}
}

@media screen and (min-width: 1920px) {
	body {
		font-size: 1.4em;
		padding-left: 8em;
		padding-right: 8em;
	}
}